
<h1>Sign up</h1>

<body>

	<div class="container">

		<div class="form-container">

			<div class="sigin-form active-form">
        <%= form_with(model: @user, local: true) do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") %> prohibited this <%= @user.name %> from being saved:</h2>
              <ul>
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          
          <%= f.text_field :name, id: "name", placeholder: "Name..." %>

          <%= f.email_field :email, id: "email", placeholder: "Email..." %>

          <%= f.password_field :password, id: "password", placeholder: "Password..." %>

          <%= f.password_field :password_confirmation, id: "password_confirmation", placeholder: "Password confirmation..." %>

          <%= f.submit "Create my account", class: "submit", value: "Register" %>
        <% end %>
			</div>
		</div>
	</div>

	<span id="cursor"></span>
	<script
  src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
  integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
  crossorigin="anonymous"></script>
	<script type="text/javascript" src="./js/app.js"></script>
</body>
