<%= form_with(model: operation) do |form| %>
  <% if operation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>

      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :Montant %>
    <%= form.text_field :montantsort %>
  </div>

  <div class="field">
    <%= form.label :motif %>
    <%= form.text_field :motif %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
